# Excluir configuración de Eclipse
.metadata/
.sonarlint/

# Archivos generados por Maven/Gradle (backend Java)
project-pets-backend/target/
project-pets-backend/.settings/
project-pets-backend/.classpath
project-pets-backend/.project

# Logs y archivos temporales
*.log
*.tmp

# Configuración de IntelliJ IDEA/VSCode
*.iml
.idea/
.vscode/

# Archivos de compilación y distribución
*.class
*.jar
*.war
*.ear

# Archivos de sistema
.DS_Store
Thumbs.db

# Excluir node_modules y archivos de build (frontend React.js)
project-pets-frontend/node_modules/
project-pets-frontend/build/

# Archivos de lock
package-lock.json
yarn.lock

# Excluir configuración de test
project-pets-frontend/coverage/
project-pets-backend/coverage/
